@font-face
    font-family "Passion"
    font-weight normal
    font-style  normal

    src url("../fonts/passionone-regular-webfont.eot");
    src url("../fonts/passionone-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/passionone-regular-webfont.woff") format("woff"),
        url("../fonts/passionone-regular-webfont.ttf") format("truetype");

._passion
    font-family "Passion"