#research._passion

	.wrapper

		h1.title We're researchers too. <br> We make treatments.

		.link
			p Check out our
				a(
					href="javascript:;",
					data-url="http://www.ajcolomb.com/creative-research-teganjody"
				) 
					| work here.
					.underline
