#contact
	background: #d9eeee

	.wrapper
		absolute: top 32% left 22%

		a.link
			text-transform : uppercase
			color          : #b6e1e0
			font-size      : 98px
			line-height    : 85px
			text-decoration: none


body.mobile

	#contact
		.wrapper
			absolute: top 220px left 80px


body.tablet

	#contact

		.wrapper
			absolute: top 90px left 80px
			width   : 100%

			a.link
				font-size  : 80px
				line-height: 70px