#film
	background: #e7e7e8

	.wrapper
		absolute: top 13% left 22%

		h1.title
			text-transform: uppercase
			color         : #bcbdc0
			font-size     : 98px
			line-height   : 85px

		ul.content
			margin-top: 100px

			li.box
				width : 400px
				height: 250px
				margin-right: 20px
				display: inline-block
				background: #bcbdc0