#research
	background: #deedcf

	.wrapper
		absolute: top 32% left 22%

		h1.title
			text-transform: uppercase
			color         : #b1d8aa
			font-size     : 98px
			line-height   : 85px
			margin-bottom : 50px 

		.link
			text-transform: uppercase
			color         : #b1d8aa
			font-size     : 58px
			line-height   : 85px

			a
				color          : #b1d8aa
				text-decoration: none
				position       : relative

			.underline
				absolute: top 93.5% left 36.3%
				width: 245px
				height: 6px
				background: #b1d8aa


body.mobile

	#research

		.wrapper
			absolute: top 220px left 80px

			h1.title
				br
					display: none

			.link
				.underline
					absolute: top 372px left 347px


body.tablet

	#research

		.wrapper
			absolute: top 90px left 80px
			width   : 100%

			h1.title
				font-size  : 80px
				line-height: 70px

			.link
				.underline
					absolute: top 238px left 347px

			