#research
	background: #deedcf
	min-width: 610px

	.wrapper
		absolute: top 32% left 16%

		h1.title
			text-transform: uppercase
			color         : #b1d8aa
			font-size     : 138px
			line-height   : 120px
			margin-bottom : 50px 

		.link
			text-transform: uppercase
			color         : #b1d8aa
			font-size     : 58px
			line-height   : 85px

			a
				color          : #b1d8aa
				text-decoration: none
				position       : relative

			.underline
				absolute: top 94.5% left 36.3%
				width: 105px
				height: 6px
				background: #b1d8aa

	@media all and ( max-width: 1650px )
		.wrapper
			top: 30%
			h1.title
				font-size: 98px
				line-height: 85px

			.link
				font-size: 58px

				.underline
					absolute: top 93.5% left 51.1%
					width: 104px

	@media all and ( max-width: 1200px )
		.wrapper
			left: 14%
			top: 28%
			h1.title
				font-size: 77px
				line-height: 65px

			.link
				font-size: 42px

				.underline
					absolute: top 90.5% left 47.9%
					width: 77px
					height: 5px

	@media all and ( max-width: 900px )
		.wrapper
			left: 12%
			top: 26%
			h1.title
				font-size: 55px
				line-height: 48px

			.link
				font-size: 31px

				.underline
					absolute: top 87.5% left 49.9%
					width: 57px
					height: 4px


body.mobile

	#research

		.wrapper
			absolute: top 220px left 80px

			h1.title
				font-weight: 300
				
				br
					display: none

			.link
				.underline
					absolute: top 242px left 351px


body.tablet

	#research

		.wrapper
			absolute: top 90px left 80px
			width   : 100%

			h1.title
				font-size  : 80px
				line-height: 70px

			.link
				.underline
					absolute: top 248px left 352px

			